.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 75%;
    margin: auto;
    background: var(--cartao-background);
    padding: 20px 50px;
    border-radius: 15px;
    gap: 15px;
}
.itemForm {
    display: flex;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
}

.botao {
    background: var(--botao-background);
    padding: 20px;
    border-radius: 7px;
    width: 250px;
    border: none;
    font-size: 1.1em;
    margin: 10px;
    align-self: center;
    transition: 100ms;
    cursor: pointer;
}
.botao:hover {
    transform: scale(1.05, 1.1);
}
.botao:active {
    transform: scale(1);
}
.input, .radio {
    background-color: white;
    color: #0B1020;
    font-size: 1em;
    padding: 5px 15px;
    border-radius: 100px;
    border: none;
    align-self: center;
    width: 70%;
}
label, p {
    font-size: 1.10em;
}
.input:focus {
    opacity: 75%;
}
.input:hover {
    transform: scale(1.02, 1.05);
}
input[type="date"]::-webkit-calendar-picker-indicator {
    background-color: #182242;
    border-radius: 7px;
    padding: 5px;
}
select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;  
}
.radio {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 400px;
}
.input[type="date"] {
    width: fit-content;
    font-size: 1em;
}
.input[type="date"]:active {
    opacity: 75%;
}
.radio input, .check input {
    display: none;
}
.radio label, .check label {
    cursor: pointer;
}
.radio input:checked + label, .check input:checked + label {
    transform: scale(0.95);
    opacity: 75%;
    font-weight: bold;
}
.radio label:hover, .check label:hover {
    opacity: 75%;
}
.check {
    color: #0B1020;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding: 20px 10px;
}
.check label {
    background-color: white;
    border-radius: 7px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}